* {
    border: 0px solid black;
    font-size: 24px;
    background-color: ;
    caret-color: transparent;
}

body {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    border-radius: 5px; 
}


.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
}

.sub-title {
    margin-top: 0px;
}

.sub-title-2 {
    margin-bottom: 0px;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.player-comp-choice {
    border: 0px solid red;
    display: flex;
    flex-direction: row;
    margin-top: 100px; 
    justify-content: space-between;
    width: 100%;
    max-width: 500px;    
}

.score {
    font-weight: ; 
}

.user {
    padding-bottom: 10px;
    
}

.player-choice,
.comp-choice {
    height: ;
    width: ;
    border: 0px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player-choice {
    align-items: flex-start;
}

.comp-choice {
    align-items: flex-end;
}

.verdict {
    margin-top: 80px;
    font-weight: bold; 
}

.user,
.score {
    margin: 0;
}